pandas
textblob
emoji
nltk
gensim
torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo
langchain-core
langchain-community
bs4
sentence-transformers
faiss-cpu